.product-info-display-container {
    overflow-x: auto; /* Adds horizontal scrollbar when needed */
    max-width: 100%; /* Ensures the container does not exceed the parent width */
  }
  

.product-display-table {
    height: 300px;
    min-width: 800px;
    overflow: auto;
}

.product-display-table .p-treetable-tbody td {
    text-align: left;
    width: 50px;
    height: 1ch;
}

.product-display-table .p-treetable-thead th {
    text-align: left;
    width: 50px;
    height: 10px;
}

.product-display-font-size {
    font-size: 15px;
}