.prompt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.prompt.show {
  opacity: 1;
}

.prompt-window {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  /* transform: translateY(-10px); */
  transition: opacity 0.3s ease-in-out;
}

.prompt-window.show {
  opacity: 1;
  /* transform: translateY(0); */
}

.button-container {
  display: flex;
  justify-content: space-between;
}